/* Estilos para el torneo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8aea67;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

input[type="number"]{
    width: 50px; /* Ajustar el ancho de las casillas de número */
    padding: 3px; /* Ajustar el relleno de las casillas de número */
}

button {
    padding: 5px 10px;
    background-color: #ead967;
    font-weight: bold;
    border-radius: 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #ead967;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.match-result {
    display: inline-block;
    margin-left: 10px; /* Ajustar el margen izquierdo */
}

@media only screen and (max-width: 600px) {
    input[type="number"] {
        width: 10%; 
        padding: 2px;
    }

    button {
        width: 50%; /* Hacer que el botón ocupe todo el ancho disponible */
        margin: 10px 0; /* Ajustar el margen del botón */
    }
}
