/* Estilos para el torneo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8aea67;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #ead967;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 100%; /* Hacer que el input ocupe todo el ancho disponible */
        max-width: none; /* Eliminar el ancho máximo del input */
    }

    button {
        width: 100%; /* Hacer que el botón ocupe todo el ancho disponible */
        margin: 10px 0; /* Ajustar el margen del botón */
    }
}
